/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
  }
  
  .menu {
      display:  inline-block;
      width: 1rem;
      height: 0.8rem;
      margin-top: 0.9rem;
  }
  .menu span {
      margin: 0 auto;
  }
  .menu span:before, .menu span:after {
      position: absolute;
      content: '';
  }
  .menu span, .menu span:before, .menu span:after {
      width: 1.5rem;
      height: 0.23rem;
      background-color: #a7b7b8;
      display: block;
  }
  .menu span:before {
      margin-top: -10px;
  }
  .menu span:after {
      margin-top: 10px;
  }
  
  /* menu icon */
  .menu-icon span {
      -webkit-transition-duration: 0s; transition-duration: 0s;
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .menu-icon:hover span {
      background-color: rgba(0,0,0,0.0);
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .menu-icon span:before {
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .menu-icon:hover span:before {
      margin-top: 0;
      -webkit-transform: rotate(45deg); transform: rotate(45deg);
      -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }
  .menu-icon span:after {
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
  }
  .menu-icon:hover span:after {
      margin-top: 0;
      -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
      -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
  }
  
/* hidden menu */
.menu-hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-hidden a {
  color: rgba(255, 255, 255, 0.945);
}

.menu-hidden a:hover {
  color: rgba(194, 232, 235, 0.945);
}
  